@{
    ViewData["Title"] = "Siden er lukket";
}

    <div class="text-body">
        <h1 class="display-1">Windowsfan.dk lukker</h1>
        <p class="small">... eller WindowsPhoneFan.dk som siden oprindelig hed.</p>
        <div class="row">&nbsp;</div>

        <div class="row">
            <div class="col">
                <h2>#2011</h2>
                <p>Det startede så godt <a href="https://web.archive.org/web/20110706085337/http://www.windowsphonefan.dk/">der tilbage i 2011.</a></p>
                <a href="https://web.archive.org/web/20110706085337/http://www.windowsphonefan.dk/"><img class="img-thumbnail" src="/content/2011_july.png" alt="WindowsPhoneFan.dk in July, 2011" /></a>
                <p>Windows Phone var nyt, spændende og noget andet end Android og iPhone. Ingen danske medier skrev rigtig om "Windows Phone 7 Series" som de blev kaldt og jeg tænkte derfor at det ville jeg da gøre.</p>
                <p>Hurtigt fandt jeg på navnet "WindowsPhoneFan.dk", købte domænet og så ellers bare i gang i Wordpress med at skrive om Windows Phone.</p>

                <p>Siden tog fart og jeg synes vi havde et rigtig rart community på siden. Både i forummet og kommentarne. Jeg kan umiddelbart ikke huske at jeg nogensinde har måtte banne eller på anden måde rigtig være "admin" på siden.</p>
                <p>Det var en sand fornøjelse - <b>Tak til alle jer der brugte siden den gang!</b></p>
            </div>
            <div class="col">
                <h2>#2019</h2>
                <p>De første 2-3 år var jeg meget meget aktiv på siden og det var sjovt at skrive med alle jer der kiggede forbi.</p>
                <a href="https://web.archive.org/web/20190126025013/http://www.windowsfan.dk/"><img class="img-thumbnail" src="/content/2019_May.png" alt="WindowsFan.dk in May, 2019" /></a>
                <p>Desværre, kom Windows Phone for sent til festen og i løber af 2013/2014 tabte den helt pusten og jeg skruede ned for aktiviteten på siden og kastede mig over andre hobby projekter :)</p>
                <p>Her maj 2019 bliver det så tid at lukke siden. Den har ikke fungerer ordenligt i langtid og bliver mere og mere sørgeligt at se på. Derfor ryger siden nu.</p>
            </div>
        </div>

        <hr />

        <div class="row">
            <div class="col text-center">
                <h2>Tak for denne gang</h2>
                <p>Til slut vil jeg bare gerne sige tak til alle jer som var en del af communities omkring WindowsPhoneFan.dk/WindowsFan.dk - <b>Tak - det var en fornøjelse!</b></p>
                <p>Hvis der nu skulle være nogen der sidder der ude og har noget at sige, så har jeg tilføjet et kommentar felt i bunden af siden her, så skriv endelig.</p>
            </div>
        </div>

        <div class="text-center">
            <p>
                Venlig hilsen <br />
                Mads
                <br />
                <a href="https://www.youtube.com/channel/UC7x7W4iE8Uf4sx2F5xB5c_w?sub_confirmation=1">YouTube</a> | <a href="http://laumania.net">Blog</a> | <a href="https://twitter.com/Laumania">Twitter</a>
            </p>
        </div>
    </div>

<hr />

<div class="text-center">
    <div id="disqus_thread"></div>
    <script>

        /**
        *  RECOMMENDED CONFIGURATION VARIABLES: EDIT AND UNCOMMENT THE SECTION BELOW TO INSERT DYNAMIC VALUES FROM YOUR PLATFORM OR CMS.
        *  LEARN WHY DEFINING THESE VARIABLES IS IMPORTANT: https://disqus.com/admin/universalcode/#configuration-variables*/
        /*
        var disqus_config = function () {
        this.page.url = PAGE_URL;  // Replace PAGE_URL with your page's canonical URL variable
        this.page.identifier = PAGE_IDENTIFIER; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
        };
        */
        (function () { // DON'T EDIT BELOW THIS LINE
            var d = document, s = d.createElement('script');
            s.src = 'https://windowsfan-dk.disqus.com/embed.js';
            s.setAttribute('data-timestamp', +new Date());
            (d.head || d.body).appendChild(s);
        })();
    </script>
    <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
</div>


<script id="dsq-count-scr" src="//windowsfan-dk.disqus.com/count.js" async></script>
